<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<ingenicopayment>
				<active>0</active>
				<model>Ingenico\Ingenico\Model\Payment\IngenicoPayment</model>
				<order_success_status>processing</order_success_status>
				<title>Ingenico Payment Gateway</title>
				<allowspecific>0</allowspecific>
				<paymentModeOrder>wallets,netBanking,imps,cards,cashCards,UPI,MVISA,debitPin,NEFTRTGS,emiBanks</paymentModeOrder>
				<primary_color_code>#3977b7</primary_color_code>
				<secondary_color_code>#FFFFFF</secondary_color_code>
				<button_color_code_1>#1969bb</button_color_code_1>
				<button_color_code_2>#FFFFFF</button_color_code_2>
				<merchant_logo_url>https://www.paynimo.com/CompanyDocs/company-logo-md.png</merchant_logo_url>
				<enableExpressPay>0</enableExpressPay>
				<separateCardMode>0</separateCardMode>
				<enableNewWindowFlow>1</enableNewWindowFlow>
				<paymentMode>all</paymentMode>
				<enableInstrumentDeRegistration>0</enableInstrumentDeRegistration>
				<txnType>SALE</txnType>
				<hideSavedInstruments>0</hideSavedInstruments>
				<saveInstrument>0</saveInstrument>
				<displayErrorMessageOnPopup>0</displayErrorMessageOnPopup>
				<embedPaymentGatewayOnPage>0</embedPaymentGatewayOnPage>
			</ingenicopayment>
		</payment>
	</default>
</config>
