<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Ingenico\Ingenico\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Ingenico\Ingenico\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">ingenico</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Ingenico\Ingenico\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Asset\Minification">
        <plugin name="ingenico_prevent_minification" type="Ingenico\Ingenico\Plugin\View\MinificationPlugin" />
    </type>
</config>