.ingenico-payment-gateway .button-container {
    float: right;
}

.ingenico-payment-logo {
    background: url("https://cdn.ingenico.com/images/logo.png");
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px 0 0px;
    width: 180px;
    height: 60px;
    background-repeat: no-repeat, no-repeat, no-repeat;
}

.ingenico-payment-byline {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    font-weight: normal;
}
